<h1>StaticPages#about</h1>
<p>Find me in app/views/static_pages/about.html.erb</p>

<div class="container">
  <div class="row">
    <div class="pure-g">
      <div class="pure-u-1-2"><p>pure test</p></div>
      <div class="pure-u-1-2"><p>pure test2</p></div>
    </div>
  </div>
</div>
