<div class="top-ten">
	<div class="top-ten-title">
		<div class="caps bold">Top Ten</div>
		<div><%= top_ten.title %></div>
	</div>
	<ol reversed>
	<% top_ten.get_entries.each do |entry| %>
		<li class="top-ten-entry"><%= entry.text %></li>
	<% end %>
	</ol>
</div>
