<div class="top-ten">
	<div class="top-ten-title">
		<h2 class="caps sans-serif">Top Ten</h3>
		<h3 class="sans-serif"><%= link_to top_ten.title, top_ten %></h3>
	</div>
	<% entries = top_ten.get_entries %>
	<!-- More bad practice, but dynamically set the number to count down from -->
	<ol class="reverse" style="counter-reset: reverse <%= entries.count + 1 %>">
	<% entries.each do |entry| %>
		<li class="top-ten-entry"><%= entry.text %></li>
	<% end %>
	</ol>
</div>
