<% content_for :specific_sidebar do %>
<div class="article-sidebar">
	<div class="sidebar-element">
		wowo
	</div>
	<div class="sidebar-element">
		wowowowo
	</div>
</div>
<% end %>

<%= render 'layouts/sidebar' %>
