<% if article.brief %>
  <h3 class="regular-headline">
    <%= link_to "Brief: " + article.headline , article %>
  </h3>
<% else %>
  <h3 class="regular-headline"><%= link_to article.headline, article %></h3>
<% end %>
