<div class="article-index-content pure-g">
	<div class="articles-content pure-u-2-3">
		<div class="articles-top-story">
			<% art = Article.find(1) %>
			<% top_story = Article.find(art.get_top_story) %>
			<%= top_story.headline %>
		</div>

		<div class="articles-more-stories pure-g">
			<div class="test pure-u-1">
				<% art = Article.find(1) %>
				<%= art.get_more_stories %>
		</div>
		</div>

		<%= link_to "See more articles", :controller => 'articles', :action => 'all' %>
	</div>
	<div class="sidebar-content pure-u-1-3">
		<p>big whoop</p>
	</div>
</div>

