<div class="article-new-content pure-g">
	<div class="articles-new pure-u-2-3">
		<div class="top-story">
			<h1>top story goes here</h1>
			<p><%= @topArticle.headline %></p>
		</div>
		<div class="more-stories pure-g">
			<h2 class="pure-u-1">More Stories</h2>
			<div class="pure-u-1-2">
				<p>first article</p>
			</div>
		</div>
	</div>
	<div class="sidebar-content pure-u-1-3">
		<p>big whoop</p>
	</div>
</div>






<hr>
<%= link_to "see all articles", :controller => 'articles', :action => 'index' %>
