@import "variables";
@import "mixins";

footer {
  .pure-g [class *= "pure-u"] {
    font-family: $sans-serif-font-stack;
  }

  // Make it sticky
  position: absolute;
  left:0;
  bottom: 0;
  width: 100%;
  height: $footer-height;

  color: $footer-text-color;
  background-color: $footer-background-color;
  font-family: $sans-serif-font-stack;
  text-align: center;

  .footer-main {
    margin-top: 1em;
    margin-bottom: 1em;

    .footer-img {
      img {
        float: none;
      }
    }

    .footer-links, .footer-social {
      font-weight: bold;
    }

    // Links!
    a {
      color: $footer-link-color;

      &:visited {
        color: $footer-link-color;
      }
      &:hover {
        background-color: inherit;
        color: #d3d3d3;
      }
    }
  }

  .footer-tagline {
    .tagline {
      padding-left: 0;
      padding-right: 0;
    }

    margin-bottom: 0.5em;
    #navbar-celeb {
      font-style: normal;
      span {
        position: absolute;
        left: 55%;
        bottom: 25%;
        display: none;
        z-index: 99;

        img {
          max-width: 128px;
        }
      }

      &:hover span {
        display: block;
      }
    }
  }
}

@media screen and (min-width: $md-min-width) {
  footer {
    .footer-main {
      .footer-links, .footer-social {
        font-size: $font-md-lg;
      }
    }
  }
}

@media screen and (min-width: $lg-min-width) {
  footer {
    height: 8em;
    text-align: left;
    .footer-main {
      .footer-links, .footer-social {
        font-size: $font-lg;
      }

      .footer-img {
        img {
          float: right;
        }
      }

      .footer-tagline {
        .tagline {
          padding-left: 0.5em;
          padding-right: 0.5em;
        }
      }
    }
  }
}
