@import "variables";
@import "mixins";
@import "purecss";

* {
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}

// So that the navbar looks better with all pages with h1 headings
h1:first-of-type {
  margin-top: 0;
}

.sans-serif {
  font-family: $sans-serif-font-stack;
}

.serif-text, html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
  font-family: $serif-text-font-stack;
}

.serif-headline, h1, h2, h3, h4, h5, h6, .title, .headline {
  font-family: $serif-headline-font-stack;
}

body {
  color: $primary-text-color;
  margin: 0 0 $footer-height; // For footer
  font-size: 1em;

  p {
    line-height: 1.55;
    color: $paragraph-text-color;
    font-size: 1.15em;
  }
}

@media screen and (min-width: $lg-min-width) {
  body {
    margin-bottom: 8em;
  }
}

a {
  text-decoration: none;
  color: inherit;

  &:visited {
    color: inherit;
  }
}

.container {
  max-width: 100%;
  margin: 0 auto;
  float: none;

  // Everything with compress should get "margins" from the container to look good on small screens
  // Everything else extends to the edges e.g. pictures, navbar, etc.
  .compress {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}

// Responsive media queries for container
@media screen and (min-width: $sm-min-width) {
  .container {
    width: $sm-container-min-width;
  }
}
@media screen and (min-width: $md-min-width) {
  .container {
    width: $md-container-min-width;
    max-width: 95%;

    // On a wider screen, the container is width-limited, so no need to compress anymore
    .compress {
      max-width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
}
@media screen and (min-width: $lg-min-width) {
  .container {
    width: $lg-container-min-width;
  }
}
@media screen and (min-width: $xl-min-width) {
  .container {
    width: $xl-container-min-width;
  }
}

@media screen and (min-width: $lg-min-width) {
  .left-bar {
    padding-right: 1em;
    border-right: 1px solid $bar-border-color;
  }
}

.sidebar-element {
  &:first-child {
    padding-bottom: 1em;
  }

  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 1px solid $bar-border-color;
}

.caps {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.attribution {
  font-size: 0.85em;
}

.wrapper {
  padding-top: 1em;
  padding-bottom: 1em;
}

.navbar-mapper {
  display: none;
}

.tag-row {
  margin-top: 0.5em;
  margin-bottom: 0.5em;

  .tag {
    margin-right: 0.25em;
  }
}

.tag {
  button {
    border-radius: 1em;
    padding: 0.25em 0.75em;
    background-color: $accent-color;
    color: $accent-text-color;

    &:hover {
      background-color: $accent-hover-color;
    }
  }
}

a.author-link:hover {
  text-decoration: underline;
}

a.highlight-link {
  &:hover {
    text-decoration: underline;
  }
  color: #38b3e6;
}
