@import "variables";
@import "mixins";
@import "purecss";

* {
	margin: 0;
}

html {
	position: relative;
	min-height: 100%;
}

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
  font-family: $serif-font-stack;
}

body {
  color: $primary-text-color;
	margin: 0 0 $footer-height; // For footer

	h1{
		font-size: $font-size-large;
	}
}

a {
  text-decoration: none;
	color: inherit;

  &:visited {
    color: inherit;
  }
  &:hover {
    background-color: $link-hover-background-color;
  }

}

.container {
	max-width: 95%;
  margin: 0 auto;
  float: none;
}

// Responsive media queries for container
@media screen and (min-width: $sm-min-width) {
	.container {
		width: $sm-container-min-width;
	}
}
@media screen and (min-width: $md-min-width) {
	.container {
		width: $md-container-min-width;
	}
}
@media screen and (min-width: $lg-min-width) {
	.container {
		width: $lg-container-min-width;
	}
}
@media screen and (min-width: $xl-min-width) {
	.container {
		width: $xl-container-min-width;
	}
}

.main {
  text-align: justify;
}

.left-bar, .right-bar {
	padding-left: 1em;
	padding-right: 1em;
}
