@import "variables";
@import "mixins";
@import "purecss";

* {
	margin: 0;
}

html {
	position: relative;
	min-height: 100%;
}

.serif-text, html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
  font-family: $serif-text-font-stack;
}

.serif-headline, h1, h2, h3, h4, h5, h6, .title, .headline {
	font-family: $serif-headline-font-stack;
}

.sans-serif {
	font-family: $sans-serif-font-stack;
}

body {
  color: $primary-text-color;
	margin: 0 0 $footer-height; // For footer

	h1{
		font-size: $font-size-large;
	}
}

a {
  text-decoration: none;
	color: inherit;

  &:visited {
    color: inherit;
  }
}

.container {
	max-width: 95%;
  margin: 0 auto;
  float: none;
}

// Responsive media queries for container
@media screen and (min-width: $sm-min-width) {
	.container {
		width: $sm-container-min-width;
	}
}
@media screen and (min-width: $md-min-width) {
	.container {
		width: $md-container-min-width;
	}
}
@media screen and (min-width: $lg-min-width) {
	.container {
		width: $lg-container-min-width;
	}
}
@media screen and (min-width: $xl-min-width) {
	.container {
		width: $xl-container-min-width;
	}
}

.main {
  text-align: justify;
}

.left-bar {
	padding-right: 1em;
	border-right: 1px solid $bar-border-color;
}

.right-bar {
	padding-left: 1em;

	.top-right-bar-element {
		padding-bottom: 1em;
	}

	.right-bar-element {
		padding-top: 1em;
		padding-bottom: 1em;
		border-top: 1px solid $bar-border-color;
	}
}

.caps {
	text-transform: uppercase;
}

.bold {
	font-weight: bold;
}

.attribution {
	font-size: 0.85em;
}
