@import 'purecss';
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700);

$font-stack: 'Libre Baskerville', serif;
$primary-text-color: #000;
$link-hover-background-color: #d3d3d3;

$font-size-large: 300%;
$font-size-medium: 160%;
$font-size-small: 70%;

.container {
  width: 64em;
  margin: 0 auto;
  float: none;
}

body {
  font-family: $font-stack;
  color: $primary-text-color;
  text-align: justify;

	h1{
		font-size: $font-size-large;
	}

}

a {
  text-decoration: none;

  &:hover {
    background-color: $link-hover-background-color;
  }

  &:visited {
    color: $primary-text-color;
  }
}
