@import "variables";
@import "mixins";

$header-border: 1px solid #000;

.header {
	font-family: $sans-serif-font-stack;
  margin-top: 1em;

  .header-masthead {
    text-align: center;
  }

  .header-nav {
    border-top: $header-border;
    ul.pure-menu-list {
      display: flex;
      justify-content: space-between;

      li.pure-menu-item {
				font-size: 1.25em;
      }
    }

		a {
			&:hover {
				background-color: $link-hover-background-color;
			}
		}
  }

  .pure-menu-heading {
    padding-left: 0;
    padding-right: 0;
  }
}
