@import "variables";
@import "mixins";

nav.navbar {
  font-family: $serif-headline-font-stack;
  display: block;
  text-align: center;
  color: black;
  font-weight: bold;

  .container {
    border-bottom: 4px solid $accent-color;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  #navbar-logo {
    text-align: center;
    img {
      max-width: 60%;
    }
  }


  #navbar-nav {
    text-align: center;

    .navbar-hideable {
      display: none;
    }
    .navbar-sm {
      display: inline-block;
    }
    .navbar-sm.navbar-block {
      display: block;
    }

    #navbar-nav-inner {
      max-width: 95%;
      margin: 0 auto;
      text-align: center;
      white-space: normal;
    }

    ul {
      padding-left: 1em;
      padding-right: 1em;

      li {
        padding: 0.5em 1em;
        font-size: $font-xs-sm;

        &.caps {
          text-transform: uppercase;
        }

        a {
          padding: 0.5em 0;

          &.current-page {
            text-decoration: underline;
          }
        }

        &#search-list-element {
          padding-top: 0;
          padding-bottom: 0;

          input#query {
            width: 16em;
          }
        }

        &.navbar-parent-list {
          vertical-align: baseline;
        }

        &.navbar-parent-list:hover {
          background-color: rgba(240, 240, 240, 0.7);
        }

        .navbar-sublist {
          background-color: rgba(240, 240, 240, 0.7);
          margin-top: 0.5em;
          text-align: left;
          padding: 0;

          li {
            padding: 0.5em 1em;;
            font-size: 1em;

            &:hover {
              background: rgba(200, 200, 200, 0.9);
            }
          }
        }
      }
    }
  }

}

@media screen and (min-width: $sm-min-width) {
}

@media screen and (min-width: $md-min-width) {
  nav.navbar {
    .navbar-hideable {
      display: none;
    }
    .navbar-md {
      display: inline-block;
    }
    .navbar-md.navbar-block {
      display: block;
    }

    #navbar-logo {
      text-align: left;
      img {
        max-width: 90%;
      }
    }
  }
}

@media screen and (min-width: $lg-min-width) {
  nav.navbar {
    .navbar-hideable {
      display: none;
    }
    .navbar-lg {
      display: inline-block;
    }
    .navbar-lg.navbar-block {
      display: block;
    }
  }
}
