@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url('https://fonts.googleapis.com/css?family=Martel:700,800,900');

$serif-headline-font-stack: 'Martel', serif;
$serif-text-font-stack: 'Georgia', serif;
$sans-serif-font-stack: 'Lato', sans-serif;
$primary-text-color: #333;
$paragraph-text-color: #444;
$tertiary-text-color: #555;
$link-hover-background-color: #d3d3d3;

$accent-color: #5abae2;
$accent-hover-color: #0ba0e0;
$accent-text-color: white;

$font-xs: 60%;
$font-xs-sm: 80%;
$font-sm: 90%;
$font-md-lg: 110%;
$font-lg: 120%;
$font-lg-xl: 150%;
$font-xl: 200%;

// Responsive breakpoints
$sm-min-width: 35.5em;
$md-min-width: 48em;
$lg-min-width: 64em;
$xl-min-width: 80em;

$sm-container-min-width: 32em;
$md-container-min-width: 48em;
$lg-container-min-width: 64em;
$xl-container-min-width: 72em;

// Colors
$bar-border-color: #d1d3d4;
$light-grey: #757575;

// Footer
$footer-height: 18em;
$footer-background-color: #262626;
$footer-link-color: #fff;
$footer-text-color: #808080;
