<div class="tag-show pure-g">
	<div class="tag-show-content pure-u-2-3">
		<% @articles.each do |article| %>
			<%= article.article_id %>
		<% end %>
		<hr>
		<% @ed_pcps.each do |ed_pcp| %>
			<%= ed_pcp.ed_pcp_id %>
		<% end %>
	</div>
	<div class="sidebar-content pure-u-1-3">
		big whoop
	</div>
</div>
