@import "base/variables";
@import "base/mixins";


/* Here goes the css for article show */
.social-share {
  display: none;
  ul {
    list-style-type: none;
    padding: 0;
  }
  .social-media-buttons {
    position: fixed;
  }
  font-size: .5em;
}

.article-show-content {
  margin-left: 0;

  .article-content {
    h1 {
      text-align: left;
      margin: 0;
    }
    .content-text {
      p {
        text-align: left;
        margin-top: 1em;
        margin-bottom: 1em;
      }
    }
    .author-position {
      p {
        color: $light-grey;
      }
    }
    .issue-date {
      color: $light-grey;
      text-align: left;
    }
    .article-image {
      margin-top: 1em;
    }
    .image-data {
      .caption {
        color: $primary-text-color;
        font-size: $font-sm;
      }
      .designer {
        color: $tertiary-text-color;
        font-style: italic;
        font-size: $font-sm;
      }
    }
  }
}

/*Here starts the index page css. I hope*/
.article-index-content {
  .regular-headline {
    margin-top: 0.5em;
  }
  .articles-content {
    margin: auto;
  }
  .article-box {
    p {
      margin-top: 1em;
      margin-bottom: 1em;
    }
    .date-author {
      p {
        color: $light-grey;
      }
    }
  }
  hr {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

.articles-top-story {
  .top-story-image {
    text-align: center;
  }
  .top-story-data {
    text-align: left;
    p {
      color: $light-grey;
    }
  }
}


.articles-more-stories {
  font-size: $font-md-lg;
  h2#more-stories {
    text-align: center;
    margin-bottom: 1em;
  }
  .sub-story {
    text-align: left;
    margin-bottom: 1em;
    h3 {
      width: 95%;
    }
    .date-author {
      width: 95%;
      p {
        color: $light-grey;
      }
    }
  }
}

.see-more {
  text-align: center;
  margin-bottom: 1em;
  a {
    &:hover {
      background-color: $link-hover-background-color;
    }
  }
}


/* CSS for the all articles page */
.articles-content {
  h1 {
    text-align: center;
  }
  .article-box {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .article-data {
    font-size: $font-md-lg;
    .article-teaser {
      display: none;
    }
    .date-author {
      color: $light-grey;
    }
  }

  .brief-data {
    font-size: $font-md-lg;
    .article-teaser {
      display: none;
    }
    .date-author {
      color: $light-grey;
    }
  }
}

.pagination-bottom {
  margin-bottom: 2em;
}
.pagination {
  text-align: right;
  margin-right: 0.5em;
}

//pure button sizing
.button-small {
  font-size: 85%;
}

//Default specified above is for minimum width less than small I guess?

@media screen and (min-width: $md-min-width){
  body {
    .article-all-content {
      .article-data, .brief-data {
        font-size: 100%;
        .article-teaser{
          display: block;
        }
      }
    }
    .article-show-content {
      .article-content {
        .issue-date {
          text-align: right;
        }
      }
    }
    .social-share {
      font-size: 100%;
    }
  }

  .articles-more-stories {
    font-size: 100%;
    .sub-story {
      img {
        width: 95%;
        height: 162px;
      }
    }
  }

  .articles-content {
    .article-data {
      margin-left: 1em;
    }
  }
}

@media screen and (min-width: $lg-min-width) {
  .article-top-story {
    margin-left: 1em;
  }
  body .article-show-content {
    .social-share {
      display: block;
    }
    .social-share-small {
      display: none
    }
  }
}
