@import "base/variables";
@import "base/mixins";


/* Here goes the css for article show */
.social-share {
	ul {
		list-style-type: none;
		padding: 0;
	}
	.social-media-buttons {
		position: fixed;
	}
}

.article-show-content {
	margin-left: 2em;
	margin-top: 2em;
	margin-bottom: 2em;

	.article-content {
		h1 {
			text-align: left;
		}
		.content-text {
			p {
				margin-top: 1em;
				margin-bottom: 1em;
			}
		}
		.author-position {
			p {
				color: $light-grey;
			}
		}
		.issue-date {
			p {
				color: $light-grey;
				text-align: right;
			}
		}
		.article-image {
			margin-top: 1em;
		}
		.image-data {
			color: $light-grey;
			p {
				position: relative;
				top: -2em;
				margin-right: 5px;
				text-align: right;
				color: white;
				text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
			}
		}
	}
}

/*Here starts the index page css. I hope*/
.article-index-content {
	.article-box {
		p {
			margin-top: 1em;
			margin-bottom: 1em;
		}
		.date-author {
			p {
				color: $light-grey;
			}
		}
	}
	hr {
		margin-top: 1em;
		margin-bottom: 1em;
	}
}

.articles-top-story {
	.top-story-image {
		text-align: center;
		margin-top: 1em;
		margin-bottom: 1em;
		img {
			width: 95%;
			position: center;
		}
	}
	.top-story-data {
		margin-left: 2.5%;
		margin-right: 2.5%;
		p {
			color: $light-grey;
		}
		h2 {
			margin-top: 1em;
			margin-bottom: 1em;
		}
		.top-story-tags {
			a {
				&:hover {
					background-color: $link-hover-background-color;
				}
			}
		}
	}
}


.articles-more-stories {
	.more-stories {
		h2 {
			text-align: center;
		}
	}
	.sub-story {
		margin-bottom: 2em;
		margin-top: 2em;
		.sub-story-tags {
			a {
				&:hover {
					background-color: $link-hover-background-color;
				}
			}
		}
		img {
			width: 95%;
			height: 162px;
			position: center;
		}
		h3 {
			width: 95%;
			margin-top: .5em;
			margin-bottom: .5em;
		}
		.date-author {
			p {
				color: $light-grey;
			}
		}
	}
}

.see-more {
	text-align: center;
	margin-bottom: 1em;
	a {
		&:hover {
			background-color: $link-hover-background-color;
		}
	}
}


/* CSS for the all articles page */
.articles-content {
	margin-top: 1em;
	margin-bottom: 1em;

	.article-image {
		margin-bottom: 1em;
	}

	.article-data {
		.article-tags {
			a {
				&:hover {
					background-color: $link-hover-background-color;
				}
			}
		}
	}
}


