@import "base/variables";
@import "base/mixins";

$light-grey: #757575;

.article-show-content {
	margin-left: 2em;
	margin-top: 2em;
	margin-bottom: 2em;
}

.article-content {
	.content-text {
		p {
			margin-top: 1em;
			margin-bottom: 1em;
		}
	}
}

.article-index-content {
	.article-box {
		p {
			margin-top: 1em;
			margin-bottom: 1em;
		}
		.date-author {
			p {
				color: $light-grey;
			}
		}
	}
	hr {
		margin-top: 1em;
		margin-bottom: 1em;
	}
}
