// Place all the styles related to the EdPcps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ed_pcp-show-content{
    margin-left: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.ed_pcp-content{
    .content-text{
        p {
            margin-top: 1em;
            margin-bottom: 1em;
        }
    }
}
