@import "base/variables";
@import "base/mixins";

.main {
	margin-top: 1em;
	margin-bottom: 1em;

	.main-content {

		.slideshow {

			.slideshow-element {
				img {
					border: 1px solid transparent;
					border-bottom-left-radius: 1em;
					border-bottom-right-radius: 1em;
				}

				.slideshow-label {
					background: rgba(0, 0, 0, 0.8);
					position: absolute;
					left: 1em;
					bottom: 1em;
					margin-right: 1em;
					padding: 1em;
					font-size: 1.5em;
					color: white;
					font-weight: bold;
					text-shadow:
						-1px -1px 0 #000,
						1px -1px 0 #000,
						-1px 1px 0 #000,
						1px 1px 0 #000;
					border: 1px solid transparent;
					border-radius: 0.25em;

					&:hover {
						background: rgba(0, 0, 0, 0.6);
					}
				}
			}

			.owl-controls {
				margin-top: 0;
			}
		}
	}
}
