@import "base/variables";
@import "base/mixins";

.main {
	padding-top: 1em;
	padding-bottom: 2em;

	.main-content {
		.slideshow {
			margin-bottom: 0.25em;
			border-bottom: 1px solid;

			.slideshow-element {
				.slideshow-label {
					// Background stuff
					background: rgba(0, 0, 0, 0.8);
					&:hover {
						background: rgba(0, 0, 0, 0.6);
					}
					border: 1px solid transparent;
					@include border-radius(0.25em);

					// Position it inside the image
					position: absolute;
					left: 1em;
					bottom: 1em;
					margin-right: 1em;
					padding: 1em;

					// Text modifications
					font-size: 1.5em;
					color: white;
					font-weight: bold;
					text-shadow:
						-1px -1px 0 #000,
						1px -1px 0 #000,
						-1px 1px 0 #000,
						1px 1px 0 #000;
				}
			}

			.owl-controls {
				margin-top: 0;
			}
		}
	}

	.more-shit {
		border-top: 1px solid;
		padding-top: 1em;

		.more-shit-title {
			text-align: center;
			border-bottom: 1px solid;
			margin-bottom: 1em;
		}

		.more-shit-content {
			.more-shit-content-piece {
				padding-left: 1em;
				padding-right: 1em;
			}
		}
	}
}
