@import "base/variables";
@import "base/mixins";

/* Here is the styling for a person's show page */
.person-info {
	margin-top: 2em;
	margin-bottom: 1em;
	.editor-info {
		.bio {
			p {
				margin-right: 1em;
				margin-left: 1em;
			}
		}
		.image {
			img {
				width: 95%;
				border-radius: 1em;
			}
		}
	}
}


.person-articles {
	margin-top: 1em;
	margin-bottom: 1em;

	.see-articles{
		text-align: center;
		margin-bottom: 1em;
	}

  .article-box {
    margin-top: 1em;
    margin-bottom: 1em;
  }

	.article-data {
		p {
			margin-left: 1em;
		}
		h3 {
			margin-left: 1em;
		}
		.article-tags {
			margin-left: 1em;
			a {
				&:hover {
					background-color: $link-hover-background-color;
				}
			}
		}
		.article-date {
			color: $light-grey;
		}
	}
}


/* Here is the styling for the people index page */
.person-index-content {
  margin-top: 2em;
  .editors-index {
	  margin-top: 2em;
  	margin-bottom: 1em;

  	.editor-data {
      height: 300px;
      overflow: hidden;
      .editor-image {
        height: 200px;
        overflow: hidden;
      }
	  	img {
		  	width: 95%;
  		}
	  	margin-bottom: 0.5em;
  	}
  }
}

//pure button sizing
.button-small {
	font-size: 85%;
}
