@import "base/variables";
@import "base/mixins";

/* css for tags index page */
.tag-index {
  margin-top: 2em;
  margin-bottom: 2em;
  h1 {
    text-align: center;
  }

  .tag-article {
    margin-top: 0;
    margin-bottom: 0;
    .tag-article {
      margin-right: 1em;
      margin-bottom: 1em;
      .date-author {
        color: $light-grey;
      }
    }
  }

  .tag-brief {
    .tag-article {
      margin-bottom: 0.5em;
    }
  }

  .tag-ed-pcp {
    margin: auto;
    .tag-ed-pcp {
      margin-right: 1em;
      margin-bottom: 1em;
      .author-image {
        p {
          margin-right: 0.5em;
        }
      }
      .date-author {
        color: $light-grey;
      }
    }
  }

  .tag-top-ten {
    margin-top: 0;
    margin-bottom: 0;
    .tag-top-ten {
      margin-right: 1em;
      margin-bottom: 1em;
    }
  }

  .tag-feature {
    margin: auto;
    .tag-feature {
      margin-right: 1em;
      margin-bottom: 1em;
      height: 280px;
      overflow: hidden;
    }
  }

  p {
    margin-bottom: 1em;
  }
  hr {
    margin-bottom: 1em;
  }
}

/* css for tags show */
.tag-show {
  margin-top: 1em;
  margin-bottom: 2em;
  .tag-show-content {
    margin-bottom: 2em;
    h1 {
      text-align: center;
    }
    hr {
      margin-top: 1em;
      margin-bottom: 1em;
    }
    .tag-feature {
      height: 300px;
      overflow: hidden;
    }
    .tag-ed-pcp {
      .date-author {
        color: $light-grey;
      }
      h3 {
        margin-left: 1em;
      }
      p {
        margin-left: 1em;
      }
    }
    .tag-article {
      .brief-data {
        h3, div, p {
          margin-left: 0;
        }
      }
      .date-author {
        color: $light-grey;
      }
      h3 {
        margin-left: 1em;
      }
      p {
        margin-left: 1em;
      }
      .article-tags {
        margin-left: 1em;
      }
    }
  }
  .pagination {
    margin-right: 0.5em;
    text-align: right;
  }
}
