<div class="feature-index-content pure-g">
	<div class="feature-content pure-u-1 pure-u-lg-2-3">
		<div class="pure-g">
			<div class="top-feature pure-u-1">
				<%= link_to image_tag(@topFeature.get_relative_feature_path, alt: "Feature Image", width: '100%'),
		        @topFeature	%>
			</div>
			<div class="column-features pure-u-1">
				<div class="pure-g">
					<% @columnFeatures.each do |columnFeature| %>
						<div class="column-feature pure-u-1 pure-u-md-1-2">
							<%= link_to image_tag(columnFeature.get_relative_feature_path, alt: "Feature Image", width: '100%'),
							    columnFeature %>
						</div>
					<% end %>
				</div>
			</div>
			<div class="more-features pure-u-1">
				<% @moreFeatures.each do |feature| %>
					<div class="more-feature">
						<%= link_to image_tag(feature.get_relative_feature_path, alt: "Feature Image", width: '100%'),
					      feature %>
					</div>
				<% end %>
			</div>
		</div>

		<div class="see-more">
			<%= link_to  "See more features", :controller => 'features', :action => 'all' %>
		</div>
	</div>

	<div class="sidebar-content pure-u-1 pure-u-lg-1-3">
		<p>whoop, there it is</p>
	</div>

</div>
