<div class="sidebar-content pure-u-1 pure-u-lg-1-3">
	<div class="right-bar">
		<div class="right-bar-element">
			<%= render 'top_tens/inline', :top_ten => top_ten %>
		</div>

		<div class="right-bar-element">
			<%= image_tag(self_ad.get_relative_image_path) %>
		</div>
	</div>
</div>
